<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Front Porch</title>
    <meta charset="utf-8">
  	<link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <header>
      <h1><a href="/">The Front Porch</a></h1>
      <nav>
        <ul>
          <li><a href="/foods">Menu</a></li>
          <li><a href="/parties">Parties</a></li>
        </ul>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>