div.foods-index {
	display: block;
	margin: auto 0px;
	padding-left: 150px;
	padding-top: 10px;
}

div.foods-index h1{
	font-family: 'PT serif', serif;
	font-size: 24px;
	padding-top: 10px;
}

div.foods-index a {
	font-size: 22px;
}

div.foods-new {
	display: block;
	margin: auto 0px;
	padding-left: 150px;
	padding-top: 10px;
}

div.foods-new h1	{
	font-size: 26px;
}

div.foods-new form {
	font-size: 22px;
}

div.foods-show {
	display: block;
	margin: auto 0px;
	padding-left: 150px;
	padding-top: 10px;
}

div.foods-show h1 {
	font-size: 26px;
}

div.foods-show ul li {
	font-size: 22px;
}

div.foods-show a {
	font-size: 22px;
}

div.foods-edit {
	display: block;
	margin: auto 0px;
	padding-left: 150px;
	padding-top: 10px;
}

div.foods-edit h1 {
	font-size: 24px;
}

div.foods-edit form {
	font-size: 22px;
}




