<h2>Add a New Party</h2>

<form action="/parties" method="POST">
	Table number: <input type="text" name='party[table_number]'></br>
	Number of guests: <input type="text" name='party[number_of_guests]'></br>
	Paid: <input type="text" name='party[paid]'></br>

	<input type="submit" value="Add Party">
</form>